body {
    color:white;
      margin-left: 250px;

  background-color: grey;
}

h1,h2{
	
	color:red;
}



ul.navbar {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 150px;
    text-decoration: none;


}

ul.navbar li {
  margin: 15px 0;
  padding: 5px;
  border-right: 1px solid #17252a;
  border-top: 1px solid #17252a;
  border-left: 10px solid #17252a;
  border-bottom: 1px solid #17252a;
}

a.link {
  color: white;
}

.expl{
  color: orange;
}
.date{
  color: green;
}
.price{
  color: yellow;
}


a:visited {
  color: white;

}
